.list--contact a {
  margin-inline: 0;
}
.contact__header {
  text-align: start;
  width: 18.56rem;
}

.list--contact ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list--contact ul li {
  align-items: center;
  display: flex;
  gap: 1rem;
  line-height: 150%;
}

.contact li path {
  stroke: var(--primary--color);
}
