.footer {
  background: var(--primary--color);
  height: 17.8rem;
}

.container__footer {
  text-align: start;
}

.footer__logo {
  margin-top: 3.75rem;
}

.footer__text {
  color: var(--primary--color--beige);
  font: normal 1rem var(--body-font);
  line-height: 2rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.footer__social {
  display: flex;
  gap: 2rem;
}
