.footer {
  background: var(--primary--color);
  height: auto;
  margin-top: 10rem;
}

.container__footer {
  padding-block: 3.75rem;
  text-align: start;
}

.footer__text {
  color: var(--primary--color--beige);
  font: normal 1rem var(--body-font);
  line-height: 2rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.footer__social {
  display: flex;
  gap: 2rem;
}
@media (min-width: 900px) {
  #footer .container {
    width: 100%;
  }
  .container__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 3.75rem;
    padding: 4rem 7.68rem;
  }
}
