body.menuExpanded > :not(header) {
  visibility: hidden;
}

.close-menu {
  position: fixed;
  visibility: hidden;
}

.mobileMenu {
  transform: translateY(100%);
  visibility: hidden;
  position: fixed;
}

body.menuExpanded {
  overflow: hidden;
}

body.menuExpanded .open-menu {
  visibility: hidden;
}

body.menuExpanded .close-menu {
  visibility: visible;
}

.close-menu,
.open-menu {
  background: none;
  border: none;
  cursor: pointer;
}

body.menuExpanded .mobileMenu {
  background: var(--primary--color);
  height: 100vh;
  left: 0;
  opacity: 1;
  padding-top: var(--nav-height);
  transition: transform 300ms;
  transform: translateY(0);
  top: 0;
  visibility: visible;
  width: 100vw;
}

body.menuExpanded .logo,
body.menuExpanded nav button {
  position: relative;
  z-index: 100;
}

body.menuExpanded .logo path {
  fill: rgb(255, 255, 255);
}

body.menuExpanded button path {
  stroke: white;
}

/*============== OPEN MOBILE MENU ===========*/
.mobileMenu__ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3.75rem;
}

.mobileMenu__ul a {
  color: white;
  font: bold 1.5rem var(--body-font);
}

.mobileMenu .btn {
  background: white;
  color: var(--primary--color);
}

.mobileMenu .btn:hover {
  background: var(--primary--color);
  color: white;
  filter: saturate(1.2);
}

.social {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
@media (min-width: 900px) {
  nav#nav .close-menu,
  nav#nav .open-menu,
  nav#nav .social {
    display: none;
  }
}
