.services {
  background: white;
  margin-top: 4.25rem;
}

.header--title {
  font: bold 1.875rem var(--body-font);
  margin-bottom: 3.75rem;
  margin-top: 1rem;
}
.cards {
  display: flex;
}
.card {
  height: 12.93rem;
  text-align: start;
  width: 20.43rem;
}
.card--title {
  font: bold 1.5rem var(--body-font);
  margin-block: 1rem;
}
.card--text {
  color: var(--secondary--color);
  font: normal 1rem var(--body-font);
  line-height: 150%;
}

.services circle {
  fill: var(--primary--color--light);
}

.services path {
  stroke: var(--primary--color);
}
