.services {
  background: white;
  margin-top: 4.25rem;
}

.header--title {
  font: bold 1.875rem var(--body-font);
  margin-bottom: 3.75rem;
  margin-top: 1rem;
}
.cards {
  display: flex;
}
.card {
  height: 12.93rem;
  text-align: start;
  width: 20.43rem;
}
.card--title {
  font: bold 1.5rem var(--body-font);
  margin-block: 1rem;
}
.card--text {
  color: var(--secondary--color);
  font: normal 1rem var(--body-font);
  line-height: 150%;
}

.card--style {
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-inline: 0.1rem;
  padding: 1rem;
}

.cards {
  margin-bottom: 5rem;
}

.services circle {
  fill: var(--primary--color--light);
}

.services path {
  stroke: var(--primary--color);
}
@media (min-width: 768px) {
  #services .container {
    width: 100%;
  }

  #services .card--style {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-inline: 2rem;
    padding: 2rem;
  }
  .swiper {
    margin-inline: 2rem;
  }
}
